<div class="home">
  <div class="home_about">
   <p class="home_about_name">
     About us
   </p>
    <img class="home_about_image" src="https://www.impactbnd.com/hs-fs/hubfs/blog-image-uploads/best-about-us-pages.jpg?length=1200&name=best-about-us-pages.jpg">
    <button class="home_about_but" (click)="goToAboutPage()">
     Open
    </button>
  </div>
  <div class="home_albums">
   <p class="home_albums_name">
     Albums
   </p>
    <img class="home_albums_image" src="https://www.pikperfect.com/assets/images/towebp/3.0_wedding_ablums/pikperfect-wedding-albums-1440.webp">
   <button class="home_albums_but" (click)="goToAlbumsPage()">
     Open
   </button>
  </div>
</div>
