.products {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px 48px;

  &_title {
    font-size: 24px;
    font-weight: 700;
    font-family: sans-serif;
    color: #1a1313;
  }

  &_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 24px;
  }

  &_item {
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 1px solid blueviolet;
    border-radius: 16px;
    padding: 16px;

    &_name {
      font-size: 16px;
      font-weight: 700;
      font-family: sans-serif;
      color: #0d0505;

      &:hover {
        cursor: pointer;
      }
    }

    &_raiting {
      font-size: 16px;
      font-weight: 700;
      font-family: sans-serif;
      color: #700707;
    }

    &_description {
      font-size: 16px;
      font-weight: 700;
      font-family: sans-serif;
      color: #2200ff;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &_image {
      width: 100px;
      height: 150px;

      &:hover {
        cursor: pointer;
      }
    }

    &_galery {
      display: flex;
      flex-direction: row;
      column-gap: 48px;
      padding: 16px;
      border-top: 1px solid blueviolet;

      img {
        width: 50px;
        height: 75px;
        padding: 12px;
        border: 1px solid black;

        &:hover {
          cursor: pointer;
        }
      }
    }

    &_share {
      padding: 16px 24px;
      border: none;
      background-color: green;
      border-radius: 12px;
      font-family: sans-serif;
      font-size: 16px;
      font-weight: 700;
      color: #FFFFFF;
      margin-top: auto;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
